body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  padding: 1rem;
  color: #111;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .header {
    text-align: center;
    padding: 2rem 0;
    h1 {
      font-size: 2.5rem;
    }
  }
  .productlist {
    display: flex;
    flex-wrap: wrap;
    .product_card {
      // flex: 0 0 33.333333%;
      // max-width: 33.333333%;
      flex: 0 0 30%;
      max-width: 30%;
      padding: 0 1rem;
      margin-bottom: 1rem;
      article {
        border: 1px solid #999;
        margin-bottom: 2rem;
        .image {
          height: 200px;
          background: #eee;
          img {
            max-width: 100%;
          }
        }
        .card_content {
          padding: 1.5rem 2.5rem 2.5rem 2.5rem;

          h2 {
            margin-top: 0;
            font-size: 1.8rem;
          }
          .card_content_inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 400px;
            .text {
              .description {
                padding: 0 1.5rem;
              }
              .see_info_toggle {
                cursor: pointer;
                .fas {
                  margin-right: 1rem;
                }
              }
              .info_list {
                list-style: disc;
                padding: 1rem 1.5rem;
                opacity: 0;
                transition: 0.3s all ease-in;
                &.show {
                  opacity: 1;
                }
              }
            }
            .btn_section {
              text-align: center;
              .add_btn {
                display: inline-block;
                border: 1.5px solid #111;
                background: #fff;
                padding: 0.5rem 1rem;
                font-size: 0.8rem;
                font-weight: 600;
                transition: 1s;
                width: 8rem;
                &:disabled {
                  border-color: #ccc;
                }
              }
            }
          }
        }
      }
    }
  }

  .wishlist_section {
    text-align: center;
    h2 {
      font-size: 2.2rem;
      margin-bottom: 3rem;
    }
    .price {
      font-size: 2.5rem;
    }
  }
}
